<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.judemanutd.autostarter">

    <!--<uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />-->

    <queries>
        <package android:name="com.miui.securitycenter" />
        <package android:name="com.miui.permcenter" />

        <package android:name="com.letv.android.letvsafe" />

        <package android:name="com.asus.mobilemanager" />

        <package android:name="com.huawei.systemmanager" />

        <package android:name="com.coloros.safecenter" />
        <package android:name="com.oppo.safe" />

        <package android:name="com.iqoo.secure" />

        <package android:name="com.vivo.permissionmanager" />

        <package android:name="com.evenwell.powersaving" />

        <package android:name="com.samsung.android" />

        <package android:name="com.oneplus" />

        <package android:name="com.android.settings" />
    </queries>

</manifest>
